################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevExtremeAspNetCoreApp/bin/Debug/net5.0
/DevExtremeAspNetCoreApp/obj
/.vs
/FinanceBillingAppMVC/DevExtremeAspNetCoreApp/obj/Release/net5.0/FinaceBilling.RazorAssemblyInfo.cs
/FinanceBillingAppMVC/DevExtremeAspNetCoreApp/obj/Release/net5.0/FinaceBilling.RazorAssemblyInfo.cache
/FinanceBillingAppMVC/DevExtremeAspNetCoreApp/obj/Release/net5.0/FinaceBilling.GeneratedMSBuildEditorConfig.editorconfig
/FinanceBillingAppMVC/DevExtremeAspNetCoreApp/obj/Release/net5.0/FinaceBilling.assets.cache
/FinanceBillingAppMVC/DevExtremeAspNetCoreApp/obj/Release/net5.0/FinaceBilling.AssemblyInfoInputs.cache
/FinanceBillingAppMVC/DevExtremeAspNetCoreApp/obj/Release/net5.0/FinaceBilling.AssemblyInfo.cs
/FinanceBillingAppMVC/DevExtremeAspNetCoreApp/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/DevExtremeAspNetCoreApp/bin/Release/net5.0
/DevExtremeAspNetCoreApp/Properties/PublishProfiles
/FinanceBilling/obj/Debug/net5.0/Razor/Views/Quickbook
/FinanceBilling/bin/Release/net5.0
/FinanceBilling/obj
/FinanceBillingData/bin/Release/net5.0
/FinanceBillingData/obj/Release/net5.0
/FinanceBillingModel/bin/Release/net5.0
/FinanceBillingModel/obj/Release/net5.0/ref
/FinanceBillingModel/obj/Release/net5.0
/FinanceBillingModel/obj/Debug/net5.0/FinanceBillingModel.csproj.AssemblyReference.cache
/FinanceBillingModel/obj/Debug/net5.0
/FinanceBillingService/obj/Release/net5.0
/FinanceBillingService/bin/Release/net5.0
/FinanceBillingService/obj
/FinanceBillingData/obj
